body{
    margin: 0px;
}
.character{
    background-color: rgb(255, 0, 0);
    position: fixed;
    height: 50px;
    width: 30px;
    bottom: 500px;
}
.floor{
    background-color: black;
    position: fixed;
    margin: 0px;
    bottom: 0px;
    width: 100vw;
    height: 200px;
}